<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse">
   <div class="navbar-inner">
      
      <a class="brand" href="/">
         <span>ClientSuccess</span>
         <i class="icon-home"></i>
      </a>

      <div class="nav hor-menu">
         <ul class="nav">
            <li class="active">
               <a href="/clients">Clients</a>
            </li>
            <li>
               <a href="/reporting">Reporting</a>
            </li>
         </ul>
      </div>

      <ul class="nav pull-right">
         <li class="dropdown user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img alt="" src="/vendor/metronic/img/avatar1_small.jpg" />
            <span class="username">Bob Nilson</span>
            <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/settings"><i class="icon-user"></i> Account Settings</a></li>
               <li><a href="/logout"><i class="icon-key"></i> Log Out</a></li>
            </ul>
         </li>
      </ul>

      <form class="navbar-search pull-right">
         <input class="search-query" type="text" placeholder="Search...">
      </form>      

   </div>
</div>

