// it throws this at the bottom :(
@import "../vendor/bootstrap/less/bootstrap";
// @import "/vendor/metronic/plugins/bootstrap/css/bootstrap.min.css";

// I need to get bootstrap to load first
// then the other css
// then my css

// Just load bootstrap twice I guess
// except that won't help much I don't think

@import (less) "../vendor/metronic/plugins/font-awesome/css/font-awesome.css";
@import (less) "../vendor/metronic/css/style-metro.css";
@import (less) "../vendor/metronic/css/style.css";
@import "/vendor/metronic/css/style-responsive.css";
@import "/vendor/metronic/css/themes/default.css";
@import "/vendor/metronic/plugins/uniform/css/uniform.default.css";


// COMPONENTS
@import "../app/directives/dispositionSelector.less";

body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.header {
    .brand {
        width: auto;
        margin-left: 0px;
    }

    .hor-menu {
        margin-left: 10px;
    }
}



div.main-content {
    // page-content: no padding. white background;
    // full-width-page and page-container: remove responsive sidebar;
    &:extend(.page-container);
    &:extend(.full-width-page);
    &:extend(.page-content);
}

// container-fluid: 100% wide background with padding on all sides
// this makes headers <h3> look bad because of the extra padding
.container-fluid {
    padding: 20px;
    .box-sizing(border-box);
}

label.control-label {
    min-height: 20px;
}

div.client_add {
    @width: 800px;
    width: @width;
    margin-left: (-@width / 2);
}

.modal-footer {
    a {
        line-height: 40px;
    }
}

@import "../app/views/clients";
