<div class="modal" role="dialog">
  <div class="modal-header">
    <h3 class="page-title">Edit Client</h3>
  </div>

  <div class="modal-body">

    <div class="row-fluid">
      <form class="form-vertical"> <!-- form-vertical is the default -->

        <!-- use less to add span6 to things? -->
        <formcontrol label="Client Name" error="false" invalidMessage="" success="false">
            <input id="name" class="span6" type="text" placeholder="ABC Corp" ng-model="name"/>
        </formcontrol>

        <formcontrol label="Success Score" error="" invalidMessage="">
            <input id="name" class="span6" type="number" placeholder="100" ng-model="score"/>
        </formcontrol>

      </form>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" ng-click="close()">Cancel</button>
    <button class="btn green" ng-click="save()"><i class="icon-save"></i> Save Client</button>
  </div>
</div>

