div.clients {
    .header {
        position: relative;
        .box-sizing(border-box);

        .data_visualization {
            background-color: #CA8D32;
            height: 250px;
        }
        .overlay {
            position: absolute;
            top: 0px;
            background-color: rgba(0,0,0,0.5);
            height: 100px;
            width: 100%;
            padding: 15px;
            .box-sizing(border-box);
            color: white;
        }
    }

    .clients-list {
        padding-top: 20px;
    }
}

div.client_details {
    .client_header {
        height: 150px;
        background-color: #CCC;
    }

    .client_stats {
        height: 100px;
        background-color: #EEE;
    }
}