<div class="client_details main-content">

    <div class="client_header container-fluid">
        <h3 class="page-title">{{client.name}}</h3>
    </div>

    <div class="client_stats container-fluid">

    </div>

    <div class="body container-fluid">
        <div class="row-fluid">
            <div class="span7">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-asterisk"></i> Success Cycle: Tasks and Actions</div>
                        <div class="tools"></div>
                    </div>
                    <div class="portlet-body">
                        body
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-asterisk"></i> Disposition</div>
                        <div class="tools">
                        </div>
                    </div>
                    <div class="portlet-body">
                        body
                    </div>
                </div>
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-asterisk"></i> Products</div>
                        <div class="tools">
                        </div>
                    </div>
                    <div class="portlet-body">
                        body
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--             
            <div><pre>{{client}}</pre></div>
            <div><button class="btn red" ng-click="remove()"><i class="icon-remove"></i> Delete Client</button></div>
 -->      


</div>
