

  <!-- Also see client_add.html -->
  <div class="row-fluid">
      <form action="#" class="form-horizontal">

        <div class="control-group warning">
          <label class="control-label" for="inputWarning">Input with warning</label>
          <div class="controls">
           <input type="text" class="span6 m-wrap" id="inputWarning" />
           <span class="help-inline">some bad</span>
         </div>
       </div>

       <div class="control-group success">
        <label class="control-label" for="inputSuccess">Input with success</label>
        <div class="controls">
         <input type="text" class="span6 m-wrap" id="inputSuccess" />
         <span class="help-inline ok"></span>
       </div>
     </div>

     <div class="control-group warning">
      <label class="control-label">Input with warning</label>
      <div class="controls input-icon">
        <input type="text" class="span6 m-wrap" />                                 
        <span class="input-warning tooltips" data-original-title="please write a valid email">
          <i class="icon-warning-sign"></i>
        </span>
      </div>
    </div>
  </form>
</div>